    /***********
 Fonts
***********/
    
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');
    /*********************************
 Body and some general stuff
*********************************/
    
    * {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }
    
    body {
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        font-weight: 400;
        background: #FFFFFF;
        color: #000000;
    }
    
    div {
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    ul {
        list-style: none;
        margin-bottom: 0px;
    }
    
    p {
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
        color: #828282;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }
    
    p a {
        display: inline;
        position: relative;
        color: inherit;
        border-bottom: solid 1px #ffa07f;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    a,
    a:hover,
    a:visited,
    a:active,
    a:link {
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }
    
    p a:active {
        position: relative;
        color: #FF6347;
    }
    
    p a:hover {
        color: #FFFFFF;
        background: #ffa07f;
    }
    
    p a:hover::after {
        opacity: 0.2;
    }
    
    .fa {
        font-size: 30px !important;
        color: orange;
    }
    
    .fa-top {
        font-size: 20px !important;
        color: orange;
    }
    
    .fa-footer {
        font-size: 17px !important;
        color: black;
        margin-right: 10px;
    }
    
    .fa-menu {
        font-size: 10px !important;
        color: black;
    }
    
    .fa-search {
        font-size: 25px !important;
        color: white;
    }
    
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    .h2-center {
        color: #FF8C00;
        text-align: center;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    h5 {
        font-size: 14px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
        text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    }
    
    h1::selection,
    h2::selection,
    h3::selection,
    h4::selection,
    h5::selection,
    h6::selection {}
    
    .form-control {
        color: #db5246;
    }
    
    section {
        display: block;
        position: relative;
        box-sizing: border-box;
    }
    
    .clear {
        clear: both;
    }
    
    .clearfix::before,
    .clearfix::after {
        content: "";
        display: table;
    }
    
    .clearfix::after {
        clear: both;
    }
    
    .clearfix {
        zoom: 1;
    }
    
    .float_left {
        float: left;
    }
    
    .float_right {
        float: right;
    }
    
    .trans_200 {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .trans_300 {
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    
    .trans_400 {
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
    }
    
    .trans_500 {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    
    .fill_height {
        height: 100%;
    }
    
    .super_container {
        width: 100%;
        overflow: hidden;
    }
    
    .info-container {
        background: #f12711;
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);
        background: linear-gradient(to right, #f5af19, #f12711);
        height: 308px;
    }
    
    .info-container-content {
        margin-left: 80px;
        /* margin-right: 20px; */
        /* padding: 47px; */
        color: white;
        font-size: 20px;
        width: 60%;
        margin-top: 10px;
    }
    
    .info-container-title {
        color: white;
        text-align: left;
        padding-top: 24px;
        padding-bottom: 13px;
        margin-left: 80px;
    }
    
    .prlx_parent {
        overflow: hidden;
    }
    
    .prlx {
        height: 130% !important;
    }
    
    .nopadding {
        padding: 0px !important;
    }
    
    .button {
        display: inline-block;
        background: orange;
        border-radius: 5px;
        height: 48px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .button a {
        display: block;
        font-size: 16px;
        line-height: 48px;
        color: #FFFFFF;
        padding-left: 62px;
        padding-right: 62px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .button:hover {
        opacity: 0.8;
    }
    /*********************************
Header
*********************************/
    
    .header {
        position: relative;
        width: 100%;
        z-index: 10;
    }
    /*********************************
Top Bar
*********************************/
    
    .top_bar {
        width: 100%;
        height: 56px;
        background-color: #FFFACD;
        border-bottom: solid 1px rgba(0, 0, 0, 0.05);
        z-index: 2;
    }
    
    .header.scrolled .top_bar {
        display: none;
    }
    
    .top_bar_contact {
        display: inline-block;
    }
    
    .top_bar_contact_item {
        font-size: 16px;
        font-weight: 300;
        line-height: 56px;
        margin-right: 40px;
    }
    
    .top_bar_contact_item:not(:first-child) {
        margin-right: 0px;
    }
    
    .top_bar_contact_item a {
        font-size: 16px;
        font-weight: 300;
        line-height: 56px;
        color: #000;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .top_bar_contact_item a:hover {
        color: #8a8a8a;
    }
    
    .top_bar_contact_item:last-child {
        margin-right: 0px;
    }
    
    .top_bar_icon {
        display: inline-block;
        margin-right: 14px;
        color: #FF8C00;
    }
    
    .top_bar_menu {
        display: inline-block;
    }
    
    .top_bar_dropdown li {
        padding-left: 13px;
        padding-right: 13px;
    }
    
    .standard_dropdown li {
        display: inline-block;
        position: relative;
        height: 56px;
    }
    
    .standard_dropdown li li {
        display: block;
        width: 100%;
    }
    
    .standard_dropdown li li a {
        display: block;
        width: 100%;
        border-bottom: solid 1px #f2f2f2;
        font-size: 16px;
    }
    
    .standard_dropdown li:last-child a {
        border-bottom: none;
    }
    
    .standard_dropdown li.hassubs>a i {
        display: inline-block;
        margin-left: 5px;
    }
    
    .standard_dropdown li a {
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        color: #000000;
        line-height: 56px;
        white-space: nowrap;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .standard_dropdown li a:hover {
        color: orange;
    }
    
    .standard_dropdown li a i {
        display: none;
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
        font-size: 12px;
    }
    
    .standard_dropdown li ul {
        display: block;
        position: absolute;
        top: 120%;
        left: 0;
        width: auto;
        visibility: hidden;
        opacity: 0;
        background: #FFFFFF;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: all 0.3s ease;
        z-index: 1;
    }
    
    .standard_dropdown li:hover>ul {
        top: 100%;
        visibility: visible;
        opacity: 1;
    }
    
    .standard_dropdown ul ul {
        left: 100%;
        top: 0 !important;
    }
    
    .top_bar_user {
        display: inline-block;
        margin-left: 35px;
    }
    
    .user_icon {
        display: inline-block;
        margin-right: 7px;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
        width: 15px;
    }
    
    .user_icon img {
        width: 100%;
    }
    
    .top_bar_user div {
        display: inline-block;
    }
    
    .top_bar_user div:nth-child(2) {
        margin-right: 21px;
    }
    
    .top_bar_user div:nth-child(2)::after {
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -13px;
        width: 1px;
        height: 17px;
        background: rgba(0, 0, 0, 0.1);
        content: '';
    }
    
    .top_bar_user a {
        font-size: 16px;
        font-weight: 300;
        line-height: 56px;
        color: #FF8C00;
    }
    
    .top_bar_user a:hover {
        color: #8a8a8a;
    }
    /*********************************
 Header Main
*********************************/
    
    .header_main {
        z-index: 1;
    }
    
    .header.scrolled .header_main {
        display: none;
    }
    
    .header_main_item {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .logo_container {
        height: 175px;
    }
    
    .logo {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .logo a {
        font-size: 36px;
        font-weight: 500;
        color: #FF8C00;
    }
    
    .header_search {
        height: 175px;
    }
    
    .header_search_content {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .header_search_form_container {
        width: 100%;
        height: 50px;
        border: solid 1px #FF8C00;
        border-radius: 30px;
    }
    
    .header_search_form {
        width: 100%;
        height: 100%;
    }
    
    .header_search_input {
        display: block;
        position: relative;
        width: calc((100% - 50px) * 0.601);
        height: 100%;
        line-height: 50px;
        border: none !important;
        outline: none !important;
        padding-left: 26px;
        color: #7f7f7f;
        float: left;
    }
    
    .header_search_input::-webkit-input-placeholder {
        font-size: 16px !important;
        font-weight: 300;
        line-height: 50px;
        color: #a3a3a3 !important;
    }
    
    .header_search_input:-moz-placeholder
    /* older Firefox*/
    
    {
        font-size: 16px !important;
        font-weight: 300;
        line-height: 50px;
        color: #a3a3a3 !important;
    }
    
    .header_search_input::-moz-placeholder
    /* Firefox 19+ */
    
    {
        font-size: 16px !important;
        font-weight: 300;
        line-height: 50px;
        color: #a3a3a3 !important;
    }
    
    .header_search_input:-ms-input-placeholder {
        font-size: 16px !important;
        font-weight: 300;
        line-height: 50px;
        color: #a3a3a3 !important;
    }
    
    .header_search_input::input-placeholder {
        font-size: 16px !important;
        font-weight: 300;
        line-height: 50px;
        color: #a3a3a3 !important;
    }
    
    .custom_dropdown {
        width: calc((100% - 50px) * 0.399);
        height: 50px;
        float: left;
        padding-left: 26px;
    }
    
    .custom_dropdown::before {
        display: block;
        position: absolute;
        top: 23%;
        left: 98%;
        width: 1px;
        height: 28px;
        background: #d2b8b8;
        content: '';
    }
    
    .custom_dropdown_list i {
        display: inline-block;
        color: #a3a3a3;
        font-size: 10px;
        margin-left: 3px;
        -webkit-transform: translateY(-1px);
        -moz-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
    }
    
    .custom_dropdown_placeholder {
        display: inline-block;
        font-size: 16px;
        font-weight: 300;
        color: #a3a3a3;
        line-height: 48px;
        cursor: pointer;
    }
    
    .custom_dropdown_placeholder i {}
    
    .menu_border {
        border-radius: 10px;
        background-color: red;
    }
    
    .custom_list {
        text-align: left;
        position: absolute;
        padding: 0;
        top: 75px;
        left: -15px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
        -webkit-transition: opacity 0.2s ease;
        -moz-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        -o-transition: opacity 0.2s ease;
        transition: all 0.2s ease;
        z-index: -1;
    }
    
    .custom_list.active {
        visibility: visible;
        opacity: 1;
        top: 50px;
        box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .custom_list li {
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        background: #FFFFFF;
    }
    
    .custom_list li a {
        display: block;
        color: #a3a3a3;
        line-height: 35px;
        border-bottom: solid 1px #ededed;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .custom_list li a:hover {
        color: #FF8C00;
    }
    
    select {
        display: inline;
        border: 0;
        width: auto;
        margin-left: 10px;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-bottom: 2px solid #555;
        color: #7b00ff;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    select:hover {
        cursor: pointer;
    }
    
    select option {
        border: 0;
        border-bottom: 1px solid #555;
        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    
    .header_search_button {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background: #FF8C00;
        border: none;
        outline: none;
        cursor: pointer;
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
    }
    
    .wishlist_cart {
        height: 175px;
    }
    
    .wishlist {
        margin-right: 50px;
    }
    
    .wishlist_icon img {
        width: 100%;
    }
    
    .wishlist_content {
        margin-left: 14px;
    }
    
    .wishlist_text a {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .wishlist_text a:hover {
        color: #FF8C00;
    }
    
    .wishlist_count {
        margin-top: -2px;
        color: #a3a3a3;
        font-size: 14px;
    }
    
    .cart_count {
        position: absolute;
        bottom: -1px;
        right: -14px;
        width: 23px;
        height: 23px;
        background: #FF8C00;
        border-radius: 50%;
        text-align: center;
    }
    
    .cart_count span {
        display: block;
        line-height: 23px;
        font-size: 12px;
        color: #FFFFFF;
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        -ms-transform: translateY(1px);
        -o-transform: translateY(1px);
        transform: translateY(1px);
    }
    
    .cart_icon img {
        width: 100%;
    }
    
    .cart_content {
        margin-left: 28px;
    }
    
    .cart_text a {
        font-size: 18px;
        font-weight: 400;
        color: #000000;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .cart_text a:hover {
        color: #FF8C00;
    }
    
    .cart_price {
        font-size: 14px;
        color: #a3a3a3;
        margin-top: -2px;
    }
    /*********************************
3.3 Main Navigation
*********************************/
    
    .main_nav {
        width: 100%;
        border-top: solid 1px #f2f2f2;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        background: #FF8C00;
    }
    
    .header.scrolled .main_nav {
        position: fixed;
        top: 0;
        left: 0;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .main_nav_content {
        width: 100%;
        height: 60px;
    }
    
    .cat_menu_burger_container {
        width: 293px;
        height: 100%;
        background: #FF8C00;
        padding-left: 35px;
        cursor: pointer;
    }
    
    .cat_menu_burger_title {
        height: 100%;
    }
    
    .cat_burger {
        width: 18px;
        height: 14px;
    }
    
    .cat_burger span {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #FFFFFF;
    }
    
    .cat_burger span:nth-child(2) {
        top: 6px;
    }
    
    .cat_burger span:nth-child(3) {
        top: 12px;
    }
    
    .cat_menu_burger_text {
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-left: 20px;
    }
    
    .cat_menu_burger_container ul {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        /*visibility: hidden;
	opacity: 0;*/
        min-width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .cat_menu_burger_container>ul {
        padding-top: 13px;
    }
    
    .cat_menu_burger_container:hover .cat_menu_burger {
        visibility: visible;
        opacity: 1;
    }
    
    .cat_menu_burger li {
        display: block;
        position: relative;
        width: auto;
        height: 46px;
        border-bottom: solid 1px #f2f2f2;
        padding-left: 35px;
        padding-right: 30px;
        white-space: nowrap;
    }
    
    .cat_menu_burger li.hassubs>a i {
        display: block;
    }
    
    .cat_menu_burger li a {
        display: block;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        color: #000000;
        line-height: 46px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .cat_menu_burger li a:hover {
        color: #FF8C00;
    }
    
    .cat_menu_burger li a i {
        display: none;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        font-size: 12px;
    }
    
    .cat_menu_burger li ul {
        display: block;
        position: absolute;
        top: 35px;
        left: 100%;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    }
    
    .cat_menu_burger li:hover>ul {
        top: 0;
        visibility: visible;
        opacity: 1;
    }
    
    .main_nav_dropdown li {
        margin-right: 35px;
    }
    
    .main_nav_dropdown li:last-child {
        margin-right: 0px;
    }
    
    .main_nav_dropdown li a {
        font-size: 18px;
        font-weight: 400;
        color: white;
        line-height: 60px;
    }
    
    .main_nav_dropdown li li {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 0px;
    }
    
    .menu_trigger_container {
        display: none;
        width: auto;
        height: 100%;
        padding-right: 25px;
        padding-left: 25px;
        cursor: pointer;
    }
    
    .menu_trigger {
        height: 100%;
    }
    
    .menu_burger_inner {
        display: inline-block;
    }
    
    .menu_trigger_text {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-right: 16px;
    }
    /*********************************
3.4 Page Menu
*********************************/
    
    .page_menu {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    
    .page_menu_content {
        height: 0px;
        background: #FF8C00;
        padding-left: 15px;
        padding-right: 15px;
        overflow: hidden;
    }
    
    .page_menu_search {
        display: none;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .page_menu_search_input {
        width: 100%;
        height: 40px;
        background: #FFFFFF;
        border: none;
        outline: none;
        padding-left: 25px;
    }
    
    .page_menu_item {
        display: block;
        position: relative;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
        vertical-align: middle;
    }
    
    .page_menu_item>a {
        display: block;
        color: #FFFFFF;
        font-weight: 500;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        text-transform: uppercase;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .page_menu_item>a:hover {
        color: #b5aec4;
    }
    
    .page_menu_item a i {
        display: none;
        margin-left: 8px;
    }
    
    .page_menu_item.has-children>a>i {
        display: inline-block;
    }
    
    .page_menu_selection {
        margin: 0;
        width: 100%;
        height: 0px;
        overflow: hidden;
        z-index: 1;
    }
    
    .page_menu_selection li {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 50px;
    }
    
    .page_menu_selection li a {
        display: block;
        color: #FFFFFF;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
        font-size: 14px;
        text-transform: uppercase;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .page_menu_selection li a:hover {
        color: #b5aec4;
    }
    
    .page_menu_selection li:last-child a {
        border-bottom: none;
    }
    
    .menu_contact_item {
        display: inline-block;
        font-size: 12px;
        font-weight: 300;
        line-height: 56px;
        margin-right: 40px;
        color: #FFFFFF;
    }
    
    .menu_contact_item:not(:first-child) {
        margin-right: 0px;
    }
    
    .menu_contact_item a {
        font-size: 12px;
        font-weight: 300;
        line-height: 56px;
        color: #FFFFFF;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .menu_contact_item a:hover {
        color: #8a8a8a;
    }
    
    .menu_contact_item:last-child {
        margin-right: 0px;
    }
    
    .menu_contact_icon {
        display: inline-block;
        margin-right: 14px;
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    /*********************************
8. Slide
*********************************/
    
    .slide_home {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .slide_home_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .slide_home_item {
        height: 445px;
    }
    
    .slide_home_content {
        padding-top: 50px;
    }
    
    .slide_home_image_container {
        width: 100%;
        height: 100%;
    }
    
    .slide_home_image {
        min-width: 100%;
        width: calc(44.8vw);
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
    }
    
    .slide_home_image img {
        width: 100%;
    }
    
    .slide_home_category {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }
    
    .slide_home_title {
        font-size: 30px;
        font-weight: 500;
        color: #FF8C00;
        text-shadow: 2px 1px #0c0c0c;
        margin-top: 11px;
    }
    
    .slide_home_text {
        font-size: 16px;
        color: black;
        line-height: 1.5;
        margin-top: 9px;
        font-weight: bold;
    }
    
    .slide_home_button {
        margin-top: 43px;
    }
    
    .slide_home_dots {
        position: absolute;
        bottom: 40px;
        left: calc((100% - 1170px) / 2 + 15px);
        z-index: 1000000;
    }
    
    .slide_home_dots .owl-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: #FFFFFF;
        border-radius: 50%;
        margin-right: 16px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    
    .slide_home_dots .owl-dot:last-child {
        margin-right: 0px;
    }
    
    .slide_home_dots .owl-dot.active {
        background: #FF8C00;
        box-shadow: none;
    }
    
    .fill_height {
        height: 100%;
    }
    /*********************************
17. Footer
*********************************/
    
    .footer {
        padding-top: 52px;
        padding-bottom: 40px;
        background-color: #D8D8D8;
    }
    
    .footer .logo_container {
        height: auto;
        margin-bottom: 18px;
        margin-top: 23px;
    }
    
    .footer .logo {
        top: auto;
    }
    
    .footer .logo a {
        color: #000000;
    }
    
    .footer_title {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
    }
    
    .footer_phone {
        font-size: 18px;
        font-weight: 500;
        color: #FF8C00;
        margin-top: 13px;
    }
    
    .footer_contact_text {
        margin-top: 10px;
    }
    
    .footer_contact_text p {
        margin-bottom: 0px;
    }
    
    .footer_social {
        margin-top: 27px;
    }
    
    .footer_social ul li {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #fafafa;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        margin-right: 16px;
        text-align: center;
    }
    
    .footer_social ul li i {
        color: #000000;
        line-height: 30px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .footer_social ul li:hover i {
        color: #FF8C00;
    }
    
    .footer_subtitle {
        font-size: 12px;
        color: #000000;
    }
    
    .footer_column ul:first-of-type {
        margin-top: 21px;
    }
    
    .footer_column ul {
        margin-top: 7px;
    }
    
    .footer_list li {
        margin-bottom: 6px;
    }
    
    .footer_list li a {
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.4);
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    .footer_list li a:hover {
        color: #FF8C00;
    }
    
    .footer_list_2 {
        margin-top: 42px !important;
    }
    
    .copyright {
        width: 100%;
        background: #fafafa;
    }
    
    .copyright_container {
        width: 100%;
        height: 56px;
    }
    
    .copyright_content {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
    }
    
    .copyright_content span {
        font-weight: 500;
    }
    
    .logos {}
    
    .logos_list li {
        display: inline-block;
        margin-right: 16px;
    }
    
    .logos_list li:last-child {
        margin-right: 0px;
    }
    /*********************************
Carousel
*********************************/
    
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }
    
    .carousel .item {
        min-height: 330px;
        text-align: center;
        overflow: hidden;
    }
    
    .carousel .item .img-box {
        height: 160px;
        width: 100%;
        position: relative;
    }
    
    .carousel .item img {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-radius: 13px;
    }
    
    .carousel .item h4 {
        font-size: 14px;
    }
    
    .carousel .item .btn {
        color: white;
        border-radius: 13px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        background: #FF8C00;
        border: 1px solid #ccc;
        width: 100%;
        padding-top: 10px;
        align-items: center;
        padding-bottom: 8px;
        margin-top: 5px;
        line-height: 16px;
    }
    
    .carousel .item .btn i {
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
    }
    
    .carousel .thumb-wrapper {
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 10px 25px rgb(0 0 0 / 10%);
    }
    
    .carousel .thumb-content {
        padding: 15px;
    }
    
    .carousel .carousel-control {
        height: 100px;
        width: 40px;
        background: none;
        margin: auto 0;
    }
    
    .carousel .carousel-control i {
        font-size: 70px !important;
        position: absolute;
        top: 8%;
        display: inline-block;
        margin: -16px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: #FF8C00;
        text-shadow: none;
        font-weight: bold;
    }
    
    .carousel .item-price {
        font-size: 13px;
        padding: 2px 0;
    }
    
    .carousel .item-price strike {
        color: #999;
        margin-right: 5px;
    }
    
    .carousel .item-price span {
        color: #FF8C00;
        font-size: 20px;
        font-weight: bold;
    }
    
    .carousel .carousel-control.left i {
        margin-left: -3px;
    }
    
    .carousel .carousel-control.left i {
        margin-right: -3px;
    }
    
    .carousel .carousel-indicators {
        bottom: -50px;
    }
    
    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border-color: transparent;
    }
    
    .carousel-indicators li {
        background: rgba(0, 0, 0, 0.2);
    }
    
    .carousel-indicators li.active {
        background: #FF8C00;
    }
    
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: block;
        max-width: 100%;
        height: auto
    }
    
    .carousel {
        position: relative
    }
    
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden
    }
    
    .carousel-inner>.item {
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left
    }
    
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img {
        line-height: 1
    }
    
    @media all and (transform-3d),
    (-webkit-transform-3d) {
        .carousel-inner>.item {
            -webkit-transition: -webkit-transform .6s ease-in-out;
            -o-transition: -o-transform .6s ease-in-out;
            transition: transform .6s ease-in-out;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000px;
            perspective: 1000px
        }
        .carousel-inner>.item.active.right,
        .carousel-inner>.item.next {
            left: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0)
        }
        .carousel-inner>.item.active.left,
        .carousel-inner>.item.prev {
            left: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }
        .carousel-inner>.item.active,
        .carousel-inner>.item.next.left,
        .carousel-inner>.item.prev.right {
            left: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }
    }
    
    .carousel-inner>.active,
    .carousel-inner>.next,
    .carousel-inner>.prev {
        display: block
    }
    
    .carousel-inner>.active {
        left: 0
    }
    
    .carousel-inner>.next,
    .carousel-inner>.prev {
        position: absolute;
        top: 0;
        width: 100%
    }
    
    .carousel-inner>.next {
        left: 100%
    }
    
    .carousel-inner>.prev {
        left: -100%
    }
    
    .carousel-inner>.next.left,
    .carousel-inner>.prev.right {
        left: 0
    }
    
    .carousel-inner>.active.left {
        left: -100%
    }
    
    .carousel-inner>.active.right {
        left: 100%
    }
    
    .carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        background-color: rgba(0, 0, 0, 0);
        filter: alpha(opacity=50);
        opacity: .5
    }
    
    .carousel-control.right {
        right: 0;
        left: auto;
    }
    
    .carousel-control:focus,
    .carousel-control:hover {
        color: #fff;
        text-decoration: none;
        filter: alpha(opacity=90);
        outline: 0;
        opacity: .9
    }
    
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px
    }
    
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        left: 50%;
        margin-left: -10px
    }
    
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px
    }
    
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 20px;
        height: 20px;
        font-family: serif;
        line-height: 1
    }
    
    .carousel-control .icon-prev:before {
        content: '\2039'
    }
    
    .carousel-control .icon-next:before {
        content: '\203a'
    }
    
    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none
    }
    
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #000;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #fff;
        border-radius: 10px;
    }
    
    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #fff
    }
    
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
    }
    
    .carousel-caption .btn {
        text-shadow: none
    }
    
    @media screen and (min-width:768px) {
        .carousel-control .glyphicon-chevron-left,
        .carousel-control .glyphicon-chevron-right,
        .carousel-control .icon-next,
        .carousel-control .icon-prev {
            width: 30px;
            height: 30px;
            margin-top: -10px;
            font-size: 30px
        }
        .carousel-control .glyphicon-chevron-left,
        .carousel-control .icon-prev {
            margin-left: -10px
        }
        .carousel-control .glyphicon-chevron-right,
        .carousel-control .icon-next {
            margin-right: -10px
        }
        .carousel-caption {
            right: 20%;
            left: 20%;
            padding-bottom: 30px
        }
        .carousel-indicators {
            bottom: 20px
        }
    }
    
    .container-full {
        margin: 0 !important;
        padding: 0 !important;
    }
    /*********************************
Info item
*********************************/
    
    .info_item {
        height: 376px;
        background: #f12711;
        background: -webkit-linear-gradient(to right, #f5af19, #f12711);
        background: linear-gradient(to right, #f5af19, #f12711);
        margin-bottom: 50px;
    }
    
    .info_content {
        padding-top: 50px;
    }
    
    .info_title {
        font-size: 38px;
        font-weight: 500;
        color: white;
        margin-top: 11px;
    }
    
    .info_text {
        font-size: 16px;
        color: white;
        line-height: 1.5;
        margin-top: 9px;
    }
    
    .info_title2 {
        font-size: 38px;
        font-weight: 500;
        color: white;
        margin-top: 11px;
        text-align: center;
    }
    
    .info_text2 {
        font-size: 16px;
        color: white;
        line-height: 1.5;
        margin-top: 9px;
        text-align: center;
    }
    
    .center-row {
        justify-content: center !important;
    }
    
    .info-button {
        display: inline-block;
        background: white !important;
        color: #FF8C00;
    }
    
    .info-button a {
        color: #FF8C00 !important;
    }
    /************
1. 1600px
************/
    
    @media only screen and (max-width: 1600px) {}
    /************
2. 1440px
************/
    
    @media only screen and (max-width: 1440px) {}
    /************
3. 1380px
************/
    
    @media only screen and (max-width: 1380px) {}
    /************
3. 1280px
************/
    
    @media only screen and (max-width: 1280px) {}
    /************
4. 1199px
************/
    
    @media only screen and (max-width: 1199px) {
        .cat_menu_burger_container {
            width: 211px;
            padding-left: 25px;
        }
        .main_nav_dropdown li {
            margin-right: 30px;
        }
        .main_nav_dropdown li a {
            font-size: 16px;
        }
        .char_item {
            padding-left: 25px;
        }
        .deals_timer_box {
            width: 150px;
        }
        .deals_timer_unit {
            font-size: 20px;
        }
        .slide_home_dots {
            left: calc((100% - 960px) / 2 + 15px);
        }
        .arrivals_single>div {
            padding-left: 24px;
        }
        .arrivals_single_marks {
            left: 24px;
        }
        .newsletter_form {
            width: 456px;
        }
    }
    /************
4. 1100px
************/
    
    @media only screen and (max-width: 1100px) {}
    /************
5. 1024px
************/
    
    @media only screen and (max-width: 1024px) {}
    /************
6. 991px
************/
    
    @media only screen and (max-width: 991px) {
        .top_bar {
            /*display: none;*/
        }
        .header_search {
            height: 50px;
        }
        .custom_dropdown {
            text-align: left;
        }
        .main_nav {
            margin-top: 56px;
        }
        .main_nav_menu {
            display: none;
        }
        .logo_container,
        .wishlist_cart {
            height: 125px;
        }
        .main_nav_content {
            background: #FF8C00;
        }
        .menu_trigger_container {
            display: block;
        }
        .top_bar {
            height: 40px;
        }
        .top_bar_contact_item {
            font-size: 12px;
            margin-right: 20px;
            line-height: 40px;
        }
        .top_bar_contact_item a {
            font-size: 12px;
            line-height: 40px;
        }
        .top_bar_icon {
            margin-right: 4px;
        }
        .top_bar_icon img {
            width: 70%;
        }
        .top_bar_menu {
            display: none;
        }
        .top_bar_user a {
            font-size: 12px;
            line-height: 40px;
        }
        .user_icon {
            -webkit-transform: translateY(-1px);
            -moz-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            -o-transform: translateY(-1px);
            transform: translateY(-1px);
            width: 12px;
        }
        .cat_menu_burger_container ul {
            visibility: hidden;
            opacity: 0;
        }
        .char_col:not(:last-child):not(:nth-child(3)) {
            margin-bottom: 30px;
        }
        .char_item {
            padding-left: 36px;
        }
        .deals {
            width: 100%;
            margin-right: 0px;
        }
        .featured {
            width: 100%;
        }
        .popular_categories_slider_container {
            margin-top: 15px;
        }
        .slide_home_dots {
            left: calc((100% - 720px) / 2 + 15px);
        }
        .tabs {
            padding-top: 80px;
        }
        .tabs.tabs-right ul {
            float: left;
        }
        .arrivals_single {
            display: none;
        }
        .advert_col {
            margin-bottom: 30px;
        }
        .advert_col:last-child {
            margin-bottom: 0px;
        }
        .trends_slider_container {
            margin-top: 15px;
        }
        .newsletter_title_container {
            width: 100%;
        }
        .newsletter_content {
            width: 100%;
            margin-top: 30px;
        }
        .newsletter_form {
            width: calc(100% - 114px);
        }
        .footer_col:not(:last-child) {
            margin-bottom: 40px;
        }
        .carousel .thumb-wrapper {
            box-shadow: none;
        }
    }
    /************
7. 959px
************/
    
    @media only screen and (max-width: 959px) {}
    /************
8. 880px
************/
    
    @media only screen and (max-width: 880px) {
        .carousel .item-price span {
            color: #FF8C00;
            font-size: 13px;
            font-weight: bold;
        }
        .carousel .item h4 {
            font-size: 10px;
        }
        .carousel .item .btn {
            color: white;
            border-radius: 6px;
            font-size: 7px;
            text-transform: uppercase;
            font-weight: bold;
            background: #FF8C00;
            border: 1px solid #ccc;
            /* width: 100%; */
            padding-top: 10px;
            align-items: center;
            padding-bottom: 7px;
            margin-top: 1px;
            line-height: 5px;
            padding-left: 2px;
        }
        .h2-center {
            color: #FF8C00;
            margin-bottom: -94px;
            text-align: center;
        }
    }
    /************
9. 768px
************/
    
    @media only screen and (max-width: 768px) {}
    /************
10. 767px
************/
    
    @media only screen and (max-width: 767px) {
        .header_search {
            display: none;
        }
        .page_menu_search {
            display: block;
        }
        .main_nav {
            margin-top: 0px;
        }
        .banner_product_image {
            opacity: 0.5;
            width: 60vw;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .banner_product_image img {
            width: 100%;
        }
        .char_col:nth-child(3) {
            margin-bottom: 30px;
        }
        .char_item {
            padding-left: 36px;
        }
        .slide_home_item {
            height: auto;
            padding-top: 85px;
            padding-bottom: 105px;
        }
        .slide_home_content {
            padding-top: 0px;
        }
        .slide_home_image_container {
            margin-top: 60px;
        }
        .slide_home_image {
            position: relative;
            top: auto;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
        .slide_home_dots {
            left: calc((100% - 540px) / 2 + 15px);
        }
        .h2-center {
            color: #FF8C00;
            margin-bottom: -91px;
            text-align: center;
        }
    }
    /************
11. 575px
    
************/
    
    @media only screen and (max-width: 575px) {
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 13px;
        }
        .top_bar {
            display: none;
        }
        .logo_container,
        .wishlist_cart {
            height: 72px;
        }
        .logo a {
            font-size: 24px;
        }
        .cat_menu_burger_container {
            width: auto;
            padding-right: 15px;
        }
        .cat_menu_burger_text {
            font-size: 13px;
            margin-left: 12px;
        }
        .cat_burger {
            width: 16px;
            height: 12px;
        }
        .cat_burger span:nth-child(2) {
            top: 5px;
        }
        .cat_burger span:nth-child(3) {
            top: 10px;
        }
        .menu_trigger_text {
            font-size: 13px;
            margin-right: 10px;
        }
        .wishlist {
            margin-right: 23px;
        }
        .wishlist_content {
            margin-left: 6px;
        }
        .wishlist_text {
            display: none;
        }
        .cart_text {
            display: none;
        }
        .wishlist_text a,
        .cart_text a {
            font-size: 14px;
        }
        .wishlist_count,
        .cart_price {
            font-size: 12px;
        }
        .wishlist_icon {
            width: 20px;
        }
        .cart_content {
            margin-left: 18px;
        }
        .cart_icon {
            width: 17px;
        }
        .cart_count {
            width: 21px;
            height: 21px;
        }
        .cart_count span {
            line-height: 21px;
        }
        .top_bar_user {
            margin-left: 0px;
        }
        .header_search {
            display: none;
        }
        .main_nav {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 0px;
        }
        .main_nav_content {
            height: 35px;
        }
        .cat_menu_burger_container {
            padding-left: 15px;
        }
        .menu_trigger_container {
            padding-right: 15px;
        }
        .cat_menu_burger li {
            height: 36px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .cat_menu_burger li a {
            font-size: 13px;
            line-height: 36px;
        }
        .cat_menu_burger li ul {
            left: 50%;
            z-index: 10;
        }
        .page_menu_item>a {
            font-size: 12px;
        }
        .page_menu_selection li a {
            font-size: 12px;
        }
        .banner_product_image {
            right: 15px;
        }
        .button {
            height: 32px;
        }
        .button a {
            font-size: 12px;
            line-height: 32px;
            padding-left: 25px;
            padding-right: 25px;
        }
        .banner {
            /*height: calc(100vh - 125px);*/
            height: 310px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .banner_content {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        .banner_text {
            font-size: 24px;
        }
        .banner_price {
            font-size: 18px;
            margin-top: 23px;
        }
        .banner_price span::after {
            top: 13px;
        }
        .banner_product_name {
            font-size: 13px;
        }
        .banner_button {
            margin-top: 35px;
        }
        .deals {
            padding-left: 15px;
            padding-right: 15px;
        }
        .deals_title {
            left: 15px;
            font-size: 16px;
        }
        .deals_slider_nav_container {
            right: 5px;
        }
        .deals_item_name,
        .deals_item_price {
            font-size: 20px;
        }
        .deals_item_category a,
        .deals_item_price_a {
            font-size: 12px;
        }
        .deals_timer_unit {
            font-size: 16px;
        }
        .product_panel {
            margin-left: 0px;
            margin-right: 0px;
        }
        .popular_categories_slider_nav {
            display: none;
        }
        .popular_categories_link {
            margin-top: 23px;
        }
        .slide_home_item {
            padding-bottom: 85px;
        }
        .slide_home_dots {
            display: none;
        }
        .slide_home_title {
            font-size: 24px;
        }
        .slide_home_text {
            font-size: 13px;
        }
        .rating_r i::before {
            font-size: 14px;
        }
        .slide_home_button {
            margin-top: 30px;
        }
        .tabs ul li {
            font-size: 14px;
            margin-right: 30px;
        }
        .bestsellers_slider {
            padding-bottom: 0px;
        }
        .newsletter_form {
            float: none;
            width: 100%;
        }
        .newsletter_title_container {
            padding-left: 0px;
            text-align: center;
        }
        .newsletter_unsubscribe_link {
            float: none;
            text-align: center;
            margin-top: 10px;
            height: auto;
        }
        .newsletter_unsubscribe_link a {
            line-height: 1;
        }
        .newsletter_title {
            font-size: 16px;
        }
        .newsletter_icon {
            position: relative;
            width: 40px;
            top: auto;
            -webkit-transform: translate(-50%, 0px);
            -moz-transform: translate(-50%, 0px);
            -ms-transform: translate(-50%, 0px);
            -o-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
            left: 50%;
            margin-bottom: 20px;
        }
        .newsletter_button {
            position: relative;
            top: auto;
            right: auto;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 113px;
            height: 40px;
            background: #FF8C00;
            color: #FFFFFF;
            line-height: 40px;
            font-size: 12px;
            border: none;
            outline: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
        .newsletter_input {
            font-size: 13px;
            padding-left: 15px;
            height: 40px;
            line-height: 40px;
        }
        .newsletter_input::-webkit-input-placeholder {
            font-size: 13px;
        }
        .newsletter_input:-moz-placeholder {
            font-size: 13px;
        }
        .newsletter_input::-moz-placeholder {
            font-size: 13px;
        }
        .newsletter_input:-ms-input-placeholder {
            font-size: 13px;
        }
        .newsletter_input::input-placeholder {
            font-size: 13px;
        }
        .copyright_container {
            height: auto;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .logos {
            margin-top: 30px;
        }
        .popular_categories_title {
            font-size: 24px;
        }
        .tabs.tabs-right .tabs_line {
            margin-top: 52px;
        }
        .tabs_line span {
            display: none;
        }
        .advert_content {
            padding-left: 15px;
        }
        .advert_text {
            font-size: 13px;
        }
        .advert_image {
            width: 125px;
        }
        .reviews {
            padding-bottom: 80px;
        }
        .reviews_all a span {
            display: none;
        }
        .reviews_dots {
            display: none;
        }
        .h2-center {
            color: #FF8C00;
            margin-bottom: -49px;
            text-align: center;
        }
    }